.contacto {
    display: inline-block;
    margin-top: auto;
    background-color: $color-rgba;
    width: 100%;

    .titulo-contacto {
        @include ContenedorTitulo (40%, white);

        h2{
       margin: 0.5em 0em 1em 1em;
       @include PropiedadesTitulos(uppercase, 'Montserrat',black, $font-titulos);
    }
    }

    div {
        iframe {
            height: 200px;
            width: 200px;
            position: relative;
            left: 3em;
            top: 1em;
            float: left;
        }

    }

    div {

        .contacto-1 {
            display: inline-block;
            color: white;
            line-height: 18px;
            font-family: 'Montserrat', sans-serif;
            margin-left: 90px;

            .direccion {
                font-size: $font-contacto;
                color: $color-gray;
                font-family: 'Raleway', sans-serif;
                margin-top: -1em;
            }

        }

        .contacto-2 {
            display: inline-block;
            color: white;
            line-height: 18px;
            font-family: 'Montserrat', sans-serif;
            margin-left: 50px;
            margin-top: 1em;

            .telefono {
                font-size: $font-contacto;
                color: $color-gray;
                font-family: 'Raleway', sans-serif;
                margin-top: -1em;

            }
        }

        .contacto-3 {
            display: inline-block;
            color: white;
            line-height: 18px;
            font-family: 'Montserrat', sans-serif;
            margin-left: 50px;

            .contratistas {
                font-size: $font-contacto;
                color: $color-gray;
                font-family: 'Raleway', sans-serif;
                margin-top: -1em;
            }
        }

    }

    .texto-1 {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        color: white;
        margin-left: 12em;
        margin-right: 12em;
        margin-top: 0.5em;
    }
    
.redes{
    display: flex;
    margin-top: 2em;
    width: 30em;
    margin-left: 15em;

    li{
      display:block;
      text-decoration: none;
      margin-left: 1em;
      
     i {
          font-size: 30px;
          color:white;

          &:hover {
              color: gold;
          }
      }
    }

}

}


