@import '../base/variables';

.container-uno {
    background-image: url('/imagenes/fondogif.gif');
    background-size: cover;
    width: 100%;
    border-bottom: solid white 2px;
    opacity: 0.9;
    position: relative;
    z-index: 99;

    .enlaces {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-rgba;
        position: fixed;

        ul {
            li {
                display: inline-block;
                margin-top: 1em;
                text-decoration: none;

                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1em;
                    margin-right: 1em;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .3s;

                    &:hover,
                    &::before {
                        background-size: 100% 2px;
                        color: gold;
                    }
                }

                a {
                    color: white;
                    text-decoration: none;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1em;
                    margin-right: 1em;
                    text-decoration: none;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .3s;

                    &:hover,
                    &::before {
                        background-size: 100% 2px;
                        color: gold;

                    }
                }
            }
        }
    }

    img {
        width: 3.5%;
        margin-left: 1.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    h1 {
        display: inline-block;
        margin-top: 6em;
        color: white;
        margin-left: 0.5em;
        font-size: 5.5em;
        font-family: 'Montserrat', sans-serif;
    }

    .hamburguer {
        display: none;
    }

}